<div class = "container">
<div class="jumbotron center">
     <h1>Welcome to my appa!</h1>
     <p>
       <%= link_to "Log in", "login", class: "btn btn-default btn-lg" %>
       <%= link_to "Sign up", "signup", class: "btn btn-primary btn-lg" %>
  </p>    
</div>

<div class="alert alert-success" role="alert">Que bien funciona esto!</div>

